{
	// "presets": [
	// 	"react",
	// 	["env", {
	// 		"targets": {
	// 			"node": "current",
	// 			"browsers": ["last 2 versions", "safari >= 7"]
	// 		},
	// 		"debug": true,
	// 		"modules": false
	// 	}]
	// ],
	// "plugins": [
	// 	["transform-es2015-destructuring"],
	// 	["transform-object-rest-spread"],
	// 	["transform-class-properties", { "spec": true }]
	// ]
}